aside {
    margin-top: 50px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
}

.photos {
    width: 500px;
    height: 300px;
    
}

.photos img {
    object-fit: cover;
    width: 500px;
    height: 300px;
}